{
	"env": {
		"browser": false,
		"es2021": true,
		"node": true
	},
	"extends": [
		"plugin:vue/vue3-recommended",
		"standard",
		"prettier"
	],
	"globals": {
    "defineProps": "readonly",
    "defineEmits": "readonly",
    "defineExpose": "readonly",
    "withDefaults": "readonly"
  },
	"rules": {
		"no-unused-vars": "warn",
		"no-dupe-keys": "warn",
		"vue/no-unused-components": "warn",
		"vue/no-setup-props-destructure": "warn",
		"vue/return-in-computed-property": "warn",
		"vue/require-prop-types": "off",
		"array-callback-return": "off",
		"vue/require-default-prop": "off",
		"vue/attributes-order": ["warn", {
			"order": [
				"DEFINITION",
				"LIST_RENDERING",
				"CONDITIONALS",
				"RENDER_MODIFIERS",
				"GLOBAL",
				["UNIQUE", "SLOT"],
				"TWO_WAY_BINDING",
				"OTHER_DIRECTIVES",
				"OTHER_ATTR",
				"EVENTS",
				"CONTENT"
			],
			"alphabetical": false
		}]
	}
}