.range-slider {
	display    : flex;
	align-items: center;
}

.range-label {
	margin-right: .5rem;
}

.range-content {
	position                 : relative;
	width                    : 240px;
	height                   : 40px;
	border-top-left-radius   : .5rem;
	border-bottom-left-radius: .5rem;
	background-color         : hsl(0, 0%, 95%);
	box-shadow               : 0 2px 0 #D1D6EE;
	padding                  : 0 1rem;
	display                  : flex;
	justify-content          : center;
	align-items              : center;
	gap                      : .75rem;
	color                    : #88C0D0;
}

@media screen and (max-width: 400px) {
	.range-content {
		width: 100%;
	}
}

.range-input {
	cursor            : pointer;
	width             : 50%;
	height            : 4px;
	appearance        : none;
	-webkit-appearance: none;
	background-color  : #ddd;
	flex-grow         : 1;
}

.range-input::-webkit-slider-thumb {
	cursor            : pointer;
	appearance        : none;
	-webkit-appearance: none;
	width             : 18px;
	height            : 18px;
	background-color  : #88C0D0;
	border-radius     : 50%;
}

.range-input::-moz-range-progress {
	background-color: #88C0D0;
}

.range-value {
	position        : relative;
	text-align      : center;
	min-width       : 40px;
	padding         : .35rem .75rem;
	color           : #FFF;
	background-color: #88C0D0;
	border-radius   : .25rem;
}

.range-value::before {
	content         : "";
	position        : absolute;
	top             : 50%;
	left            : 0;
	transform       : translate(-50%, -50%) rotate(45deg);
	width           : 8px;
	height          : 8px;
	background-color: inherit;
}

.range-btn-reset {
	cursor                    : pointer;
	display                   : flex;
	align-items               : center;
	outline                   : none;
	border                    : none;
	padding                   : .5rem;
	border-top-right-radius   : .25rem;
	border-bottom-right-radius: .25rem;
	background-color          : #88C0D0;
	color                     : #FFF;
	box-shadow                : 0 2px 0 #73A2AF;
	transition                : box-shadow .1s;
}